@import './var.scss';
@import './about-us.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: $font14;
}

*::-webkit-scrollbar{
  display: none;
}

html,
body {
  height: 100vh;
  width: $per100;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 600px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

#root {
  height: $per100;
  .sha-main {
    height: $per100;
    width: 1280px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 8px 15px rgba(0,0,0,0.1);
    .sha-side-main-phone{
      display: none;
    }
    .sha-side-main {
      user-select: none;
      cursor: default;
      position: relative;
      height: $per100;
      background-color: #fbf4f4;
      border-right: 1px solid rgba(0,0,0,0.03);
      width: 200px;
      float: left;
      .sha-toggle-nav{
        display: none;
      }
      .sha-main-logo {
        padding: 6px;
        width: $per100;
      }
      .sha-img-legend {
        @include textCenter();
        color: $darkerGray;
        font-size: $font24;
        font-weight: normal;
        margin: 20px 0;
      }
      .ant-menu-inline{
        border-right: none;
      }
      .sha-social {
        position: absolute;
        bottom: 0;
        width: 100%;
        .sha-social-legend {
          @include textCenter()
        }
        .sha-social-icons {
          position: relative;
          @include textCenter();
          a {
            @include imgSize(30px);
            margin: 0 $font14;
          }
          .sha-social-icon {
            @include imgSize(30px);
          }
        }
      }
    }
    .sha-router-main {
      height: $per100;
      margin-left: 200px;
      padding-top: 20px;
      overflow: scroll;
      > div {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}


@media (max-width: $mediaPhone) {
  #root {
    width: 100%;
    .sha-main {
      width: 100%;
      box-shadow: none;
      margin: 0 0;
      .sha-side-main {
        display: fixed;
        width: 100%;
        height: 60px;
        .sha-img-legend{
          margin: 10px 0;
        }
        .sha-toggle-nav{
          display: inline-block;
          position: absolute;
          right: 14px;
          top: 14px;
        }
        .sha-main-logo,
        .sha-social,
        .sha-main-nav{
          display: none;
        }
      }
      .sha-router-main{
        width: 100%;
        margin: 0 0;
      }
    }
  }
}