@import "~antd/dist/antd.min.css";
// constant
$per100: 100%;

$mediaPhone: 768px;

// paddings

$pad10: 10px;
$pad15: 15px;
$pad20: 20px;
$pad40: 40px;

$mar10: 10px;
$mar20: 20px;
$mar30: 30px;
$mar40: 40px;

$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font48: 48px;
// colors

$darkerGray: #6d6d6d;
$lighterGray: #d8d8d8;
$shadowGray: #dad0d0;
$white: #fff;
$dark: #000;
$fccGreen: #1b5c46;

@mixin textCenter() {
  text-align: center;
}

@mixin imgSize($size) {
  display: inline-block;
  width: $size;
  height: $size;
}

@mixin legendTitle() {
  font-size: $font24;
  margin: $font20 0;
  color: $darkerGray;
  font-weight: normal;
}