* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
}

html, body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
}

.sha-main {
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.sha-side-bar {
  height: 100%;
  background-color: #d8d8d8;
  width: 200px;
  float: left;
}

.sha-router-main {
  height: 100%;
  margin-left: 200px;
}

.sha-side-bar {
  list-style: none;
}

.sha-side-bar .sha-side-item {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  margin: 10px;
}

.sha-side-bar .sha-side-item span {

}
